{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        {% block meta %}
            <!-- Meta -->
            <meta charset="utf-8">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <meta name="keywords" content="MediaCenter, Template, eCommerce">
            <meta name="robots" content="all">
        {% endblock %}
        {% block title %}
            <title>themelock.com - Unicase</title>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

            <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <link rel="stylesheet" href="{% static 'css/green.css' %}">
            <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
            <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
            <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/rateit.css' %}">
            <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

            <link rel="stylesheet" href="{% static 'css/config.css' %}">

            <link href="{% static 'css/green.css' %}" rel="alternate stylesheet" title="Green color">
            <link href="{% static 'css/blue.css' %}" rel="alternate stylesheet" title="Blue color">
            <link href="{% static 'css/red.css' %}" rel="alternate stylesheet" title="Red color">
            <link href="{% static 'css/orange.css' %}" rel="alternate stylesheet" title="Orange color">
            <link href="{% static 'css/dark-green.css' %}" rel="alternate stylesheet" title="Darkgreen color">

            <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

            <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    </head>
{% endblock %}
<body class="cnt-home">

{% block header %}
    <header class="header-style-1">
        <div class="top-bar animate-dropdown">
            <div class="container">
                <div class="header-top-inner">
                    <div class="cnt-account">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"><i class="icon fa fa-retweet"></i>Product comparison
                                </a></li>
                            <li>
                                <a href="#"><i class="icon fa fa-shopping-cart"></i>Cart
                                </a></li>
                            <li>
                                <a href="#"><i class="icon fa fa-key"></i>Checkout
                                </a></li>
                        </ul>
                    </div>
                    <div class="cnt-block">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span
                                        class="key">currency :</span><span class="value">USD </span><b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">INR</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span
                                        class="key">language :</span><span class="value">English </span><b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /.list-unstyled -->
                    </div>
                    <!-- /.cnt-cart -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.header-top-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.header-top -->
        <!-- ============================================== TOP MENU : END ============================================== -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <div class="logo">
                            <a href="{% url 'app:mainpage' %}">

                                <img src="{% static 'images/logo.png' %}" alt="">

                            </a>
                        </div>
                        <!-- /.logo -->
                        <!-- ============================================================= LOGO : END ============================================================= -->
                    </div>
                    <!-- /.logo-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
                        <div class="contact-row">
                            <div class="phone inline">
                                <i class="icon fa fa-phone"></i> (400) 888 888 868
                            </div>
                            <div class="contact inline">
                                <i class="icon fa fa-envelope"></i> saler@unicase.com
                            </div>
                        </div>
                        <!-- /.contact-row -->
                        <!-- ============================================================= SEARCH AREA ============================================================= -->
                        <div class="search-area">
                            <form action="#">
                                <div class="control-group">

                                    <input class="search-field" name="text" value="{{ search_text|default_if_none:'' }}" placeholder="Search here..."/>

                                    <button type="submit" class="search-button"></button>

                                </div>
                            </form>
                        </div>
                        <!-- /.search-area -->
                        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                    </div>
                    <!-- /.top-search-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row">
                        <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                        <div class="dropdown dropdown-cart" id="header_cart">

                        </div>
                        <!-- /.dropdown-cart -->

                        <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
                    </div>
                    <!-- /.top-cart-row -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.main-header -->

        <!-- ============================================== NAVBAR ============================================== -->
        <div class="header-nav animate-dropdown">
            <div class="container">
                <div class="yamm navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse"
                                class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="nav-bg-class">
                        <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                            <div class="nav-outer">
                                <ul class="nav navbar-nav">
                                    <li class="active dropdown yamm-fw">
                                        <a href="{% url 'app:mainpage' %}">Home</a>
                                    </li>
                                    {% for section in menu_section %}
                                        <li class="dropdown yamm">
                                            <a href="#" data-hover="dropdown" class="dropdown-toggle"
                                               data-toggle="dropdown">{{ section.title }}</a>
                                            {% if section.brands %}
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="yamm-content">
                                                            <div class="row">
                                                                <div class='col-sm-12'>
                                                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                                                        <ul class="links">
                                                                            {% for brand in section.brands %}
                                                                                <li>
                                                                                    <a href="{{ brand.get_absolute_url }}">{{ brand.title }}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                    <!-- /.col -->
                                                                </div>
                                                            </div>
                                                            <!-- /.row -->
                                                        </div>
                                                        <!-- /.yamm-content -->
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}

                                </ul>
                                <!-- /.navbar-nav -->
                                <div class="clearfix"></div>
                            </div>
                            <!-- /.nav-outer -->
                        </div>
                        <!-- /.navbar-collapse -->


                    </div>
                    <!-- /.nav-bg-class -->
                </div>
                <!-- /.navbar-default -->
            </div>
            <!-- /.container-class -->

        </div>
        <!-- /.header-nav -->
        <!-- ============================================== NAVBAR : END ============================================== -->

    </header>

    <!-- ============================================== HEADER : END ============================================== -->
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    <!-- ============================================================= FOOTER ============================================================= -->
    <footer id="footer" class="footer color-bg">
        <div class="links-social inner-top-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <!-- ============================================================= CONTACT INFO ============================================================= -->
                        <div class="contact-info">
                            <div class="footer-logo">
                                <div class="logo">
                                    <a href="home.html">

                                        <img src="{% static 'images/logo.png' %}" alt="">

                                    </a>
                                </div>
                                <!-- /.logo -->

                            </div>
                            <!-- /.footer-logo -->

                            <div class="module-body m-t-20">
                                <p class="about-us"> Nam libero tempore, cum soluta nobis est ses eligendi optio cumque
                                    cum
                                    soluta nobis est ses eligendi optio cumque.</p>

                                <div class="social-icons">

                                    <a href="http://facebook.com/transvelo" class='active'><i
                                            class="icon fa fa-facebook"></i></a>
                                    <a href="#"><i class="icon fa fa-twitter"></i></a>
                                    <a href="#"><i class="icon fa fa-linkedin"></i></a>
                                    <a href="#"><i class="icon fa fa-rss"></i></a>
                                    <a href="#"><i class="icon fa fa-pinterest"></i></a>

                                </div>
                                <!-- /.social-icons -->
                            </div>
                            <!-- /.module-body -->

                        </div>
                        <!-- /.contact-info -->
                        <!-- ============================================================= CONTACT INFO : END ============================================================= -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <!-- ============================================================= CONTACT TIMING============================================================= -->
                        <div class="contact-timing">
                            <div class="module-heading">
                                <h4 class="module-title">opening time</h4>
                            </div>
                            <!-- /.module-heading -->

                            <div class="module-body outer-top-xs">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Monday-Friday:</td>
                                            <td class="pull-right">08.00 To 18.00</td>
                                        </tr>
                                        <tr>
                                            <td>Saturday:</td>
                                            <td class="pull-right">09.00 To 20.00</td>
                                        </tr>
                                        <tr>
                                            <td>Sunday:</td>
                                            <td class="pull-right">10.00 To 20.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                                <p class='contact-number'>Hot Line:(400)888 868 848</p>
                            </div>
                            <!-- /.module-body -->
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="latest-tweet">
                            <div class="module-heading">
                                <h4 class="module-title">latest tweet</h4>
                            </div>
                            <div class="module-body outer-top-xs">
                                <div class="re-twitter">
                                    <div class="comment media">
                                        <div class='pull-left'>
                                            <span class="icon fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">@laurakalbag</a> As a result of your previous recommendation :)
                                            <span class="time">12 hours ago</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="re-twitter">
                                    <div class="comment media">
                                        <div class='pull-left'>
                                            <span class="icon fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">@laurakalbag</a> As a result of your previous recommendation :)
                                            <span class="time">12 hours ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="contact-information">
                            <div class="module-heading">
                                <h4 class="module-title">information</h4>
                            </div>

                            <div class="module-body outer-top-xs">
                                <ul class="toggle-footer" style="">
                                    <li class="media">
                                        <div class="pull-left">
                                             <span class="icon fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <p>868 Any Stress,Burala Casi,Picasa USA.</p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="pull-left">
                                             <span class="icon fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <p>(400) 0888 888 888<br>(400) 888 888 888
                                            </p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <div class="pull-left">
                                             <span class="icon fa-stack fa-lg">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <span><a href="#">Contact @Unicase.com</a></span><br>
                                            <span><a href="#">Sale @Unicase.com</a></span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom inner-bottom-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading outer-bottom-xs">
                            <h4 class="module-title">category</h4>
                        </div>
                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Libero Sed rhoncus</a></li>
                                <li><a href="#">Venenatis augue tellus</a></li>
                                <li><a href="#">My Vouchers</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading outer-bottom-xs">
                            <h4 class="module-title">my account</h4>
                        </div>
                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Site Map</a></li>
                                <li><a href="#">Search Terms</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading outer-bottom-xs">
                            <h4 class="module-title">our services</h4>
                        </div>
                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Libero Sed rhoncus</a></li>
                                <li><a href="#">Venenatis augue tellus</a></li>
                                <li><a href="#">My Vouchers</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading outer-bottom-xs">
                            <h4 class="module-title">help & support</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li><a href="#">Knowledgebase</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Contact Support</a></li>
                                <li><a href="#">Marketplace Blog</a></li>
                                <li><a href="#">About Unicase</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-padding">
                    <div class="copyright">
                        Copyright © 2014
                        <a href="home.html">Unicase Shop.</a>
                        - All rights Reserved
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding">
                    <div class="clearfix payment-methods">
                        <ul>
                            <li>
                                <img src="{% static 'images/payments/1.png' %}" alt="">
                            </li>
                            <li>
                                <img src="{% static 'images/payments/2.png' %}" alt="">
                            </li>
                            <li>
                                <img src="{% static 'images/payments/3.png' %}" alt="">
                            </li>
                            <li>
                                <img src="{% static 'images/payments/4.png' %}" alt="">
                            </li>
                            <li>
                                <img src="{% static 'images/payments/5.png' %}" alt="">
                            </li>
                        </ul>
                    </div>
                    <!-- /.payment-methods -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ============================================================= FOOTER : END============================================================= -->
{% endblock %}
{% block js %}
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-hover-dropdown.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/echo.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing-1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'js/jquery.rateit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>


    <script src="{% static 'js/lib/csrf.js' %}"></script>
    <script src="{% static 'js/lib/Underscore1.6.0.js' %}"></script>
    <script src="{% static 'js/lib/backbone1.2.3.js' %}"></script>
    <script src="{% static 'js/lib/ractive.js' %}"></script>
    <script src="{% static 'js/lib/ractive-adaptors-backbone.js' %}"></script>

    <script src="{% static 'js/api/models.js' %}"></script>
    <script src="{% static 'js/api/user.js' %}"></script>
    <script src="{% static 'js/api/cart.js' %}"></script>

{% endblock %}
</body>
</html>